---
interface Props {
  title?: 'string';
  lang?: 'string';
  charset?: 'string';
}

const { lang = 'en' } = Astro.props;
const { charset = 'utf-8' } = Astro.props;
const title = 'Foo' + Astro.props.title;
---
<html lang={lang}>
  <head>
    <meta charset={charset}>
    <title>{title}</title>
  </head>
  <body>
    <slot></slot>
  </body>
</html>
